services:
  postgres:
    image: postgres:15
    container_name: demo-postgres
    restart: always
    environment:
      POSTGRES_DB: demo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: redis-local
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: redis-server --appendonly yes

#  app:
#    build: .
#    container_name: demo-app
#    depends_on:
#      - postgres
#    ports:
#      - "8080:8080"
#    environment:
#      SPRING_PROFILES_ACTIVE: prod
#      DB_URL: jdbc:postgresql://postgres:5432/demo
#      DB_USERNAME: postgres
#      DB_PASSWORD: postgres

volumes:
  postgres_data:
