#server.port=8080

#spring.datasource.url=${DB_URL:jdbc:postgresql://localhost:5432/demo}
#spring.datasource.username=${DB_USERNAME:postgres}
#spring.datasource.password=${DB_PASSWORD:postgres}
#
#spring.jpa.hibernate.ddl-auto=update
#spring.jpa.show-sql=true
#
#logging.level.org.hibernate.SQL=DEBUG

server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/demo}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
