<configuration debug="true">

    <!-- Import Spring Boot converters -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context"
                    name="appName"
                    source="spring.application.name"/>

    <!-- Map spring boot property to logback variable -->
    <springProperty scope="context" name="LOG_FILE" source="logging.file.name" defaultValue="/var/log/lunar/app.log"/>

    <springProfile name="dev">
        <appender name="CONSOLE"
                  class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern disabled-ansi="false">
                    %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} ${appName} [%X{traceId:-}] [%X{requestId:-}] %clr(%-5level) [%15.15thread] %clr(%-40.40logger{39}){cyan}: %msg%n%wEx
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- ============================= -->
    <!-- PROD PROFILE (JSON Logging) -->
    <!-- ============================= -->
    <springProfile name="prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <threadName/>
                    <loggerName/>
                    <pattern>
                        <pattern>
                            {
                                "service": "${appName}",
                                "traceId": "%X{traceId:-}",
                                "requestId": "%X{requestId:-}"
                            }
                        </pattern>
                    </pattern>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <threadName/>
                    <loggerName/>
                    <pattern>
                        <pattern>
                            {
                                "service": "${appName}",
                                "traceId": "%X{traceId:-}",
                                "requestId": "%X{requestId:-}"
                            }
                        </pattern>
                    </pattern>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
