name: Lunar CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run spotless
        run: ./gradlew spotlessApply spotlessJavaApply

      - name: Clean build
        run: ./gradlew clean build
        env:
          SPRING_PROFILES_ACTIVE: test
